.section {
    background-image: url("https://www.freepnglogos.com/uploads/rick-and-morty/rick-and-morty-background-rick-and-morty-artwork-resolution-35.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
